site_name: "NeRDS: Nederlandse Richtlijn Digitale Systemen 0.1"
site_description: De Nederlandse Richtlijn Digitale Systemen van het Ministerie van Binnenlandse Zaken en Koninkrijksrelaties

theme:
  name: material
  custom_dir: src/overrides
  language: nl
  palette:
    primary: custom
  logo: assets/logo.svg
  favicon: assets/favicon.ico
  font: false
  features:
    - navigation.indexes
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - navigation.instant
    - navigation.footer
    - navigation.prune
    - navigation.sections
    - navigation.expand
    - search.highlight
    - search.share
    - search.suggest
    - content.tooltips
    - content.tabs.link
    - content.action.dismiss
  icon:
    logo: fontawesome/solid/house
    annotation: fontawesome/solid/circle-info

nav:
  - Home: index.md
  - Richtlijnen:
      - Overzicht: richtlijnen/index.md
      - 1. Gebruikersbehoeften:
          - richtlijnen/gebruikersbehoeften/index.md
          - Wanneer doe je wat?: richtlijnen/gebruikersbehoeften/fases.md
      - 2. Toegankelijkheid:
          - richtlijnen/toegankelijkheid/index.md
          - Wanneer doe je wat?: richtlijnen/toegankelijkheid/fases.md
      - 3. Open Source:
          - richtlijnen/open-source/index.md
          - Wanneer doe je wat?: richtlijnen/open-source/fases.md
      - 4. Open Standaarden: richtlijnen/open-standaarden/index.md
      - 5. Cloud:
          - richtlijnen/cloud/index.md
          - Wanneer doe je wat?: richtlijnen/cloud/fases.md
      - 6. Veiligheid: richtlijnen/veiligheid/index.md
      - 7. Privacy: richtlijnen/privacy/index.md
      - 8. Samenwerking: richtlijnen/samenwerking/index.md
      - 9. Integratie: richtlijnen/integratie/index.md
      - 10. Data: richtlijnen/data/index.md
      - 11. Algoritmen: richtlijnen/algoritmen/index.md
      - 12. Inkoopstrategie: richtlijnen/inkoop/index.md
      - 13. Duurzaamheid: richtlijnen/duurzaamheid/index.md
  - Over NeRDS:
      - Over-NeRDS/index.md
      - Contact en bijdragen: Over-NeRDS/CONTRIBUTING.md
      - Toegankelijkheid: Over-NeRDS/toegankelijkheid.md
      - Privacy: Over-NeRDS/privacy.md
      - Copyright: Over-NeRDS/copyright.md
      - Cookies: Over-NeRDS/cookies.md
      - Kwetsbaarheid melden: Over-NeRDS/kwetsbaarheid-melden.md

# Extra opties
markdown_extensions:
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.details
  - admonition
  - attr_list
  - abbr
  - md_in_html
  - footnotes
  - toc:
      toc_depth: 3
  - pymdownx.tasklist:
      custom_checkbox: true
      clickable_checkbox: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.blocks.html

# Extra opties voor footer
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/MinBZK/NeRDS
  version:
    provider: mike
    default: production



extra_css:
  - stylesheets/navigation.css
  - stylesheets/filters.css
  - stylesheets/extra.css
  - stylesheets/footer.css
  - stylesheets/all.min.css
  - stylesheets/choices.min.css
  - stylesheets/modal.css
  - stylesheets/landing-page.css
  - stylesheets/feedback-widget.css

extra_javascript:
  - javascripts/jquery-3.6.0.min.js
  - javascripts/choices.min.js
  - javascripts/tablesort.min.js
  - javascripts/tablesort.js
  - javascripts/filtering.js
  - javascripts/cluster-form.js
  - javascripts/feedback-config.js
  - javascripts/feedback-i18n.js
  - javascripts/feedback-widget.js

plugins:
  - glightbox
  - search
  - git-revision-date-localized:
      enable_creation_date: true
      timezone: Europe/Amsterdam
      locale: nl
  - awesome-pages:
      collapse_single_pages: true
  - mike:
      alias_type: symlink
      version_selector: true
      canonical_version: production

# Link naar GitHub repo
repo_url: https://github.com/MinBZK/NeRDS
site_url: https://minbzk.github.io/NeRDS/
edit_uri: edit/main/docs/


hooks:
  - src/overrides/hooks/security_txt.py
  - src/overrides/hooks/action_registry.py
