<nldd-page-footer slot="footer">
  {%- if page and page.ancestors %}
  <nldd-breadcrumbs slot="breadcrumbs">
    <nldd-breadcrumbs-item href="{{ nav.homepage.url | url }}" text="Home"></nldd-breadcrumbs-item>
    {%- for ancestor in page.ancestors | reverse %}
    {%- set target = ancestor.children | first %}
    {%- if target != page %}
    <nldd-breadcrumbs-item href="{{ target.url | url }}" text="{{ ancestor.title | e }}"></nldd-breadcrumbs-item>
    {%- endif %}
    {%- endfor %}
    <nldd-breadcrumbs-item current text="{{ page.title | striptags | e }}"></nldd-breadcrumbs-item>
  </nldd-breadcrumbs>
  {%- endif %}
  <nldd-container layout="grid" padding-block="24" gap="24">
    <nldd-container gap="8">
      <nldd-title size="5" heading-level="2" text="Over deze site"></nldd-title>
      <ul class="footer-links">
        <li><nldd-link size="sm" href="{{ 'Over-NeRDS/' | url }}" text="Over NeRDS"></nldd-link></li>
        <li><nldd-link size="sm" href="{{ 'Over-NeRDS/CONTRIBUTING/' | url }}" text="Contact en bijdragen"></nldd-link></li>
        <li><nldd-link size="sm" href="{{ 'Over-NeRDS/versies/' | url }}" text="Versies"></nldd-link></li>
      </ul>
    </nldd-container>
    <nldd-container gap="8">
      <nldd-title size="5" heading-level="2" text="Service"></nldd-title>
      <ul class="footer-links">
        <li><nldd-link size="sm" href="{{ 'Over-NeRDS/copyright/' | url }}" text="Copyright"></nldd-link></li>
        <li><nldd-link size="sm" href="{{ 'Over-NeRDS/kwetsbaarheid-melden/' | url }}" text="Kwetsbaarheid melden"></nldd-link></li>
      </ul>
    </nldd-container>
    <nldd-container gap="8">
      <nldd-title size="5" heading-level="2" text="Overheid"></nldd-title>
      <ul class="footer-links">
        <li><nldd-link size="sm" href="https://overheid.nl/" target="_blank" end-icon="external-link" text="Overheid.nl"></nldd-link></li>
        <li><nldd-link size="sm" href="https://www.rijksoverheid.nl/" target="_blank" end-icon="external-link" text="Rijksoverheid.nl"></nldd-link></li>
        <li><nldd-link size="sm" href="https://www.digitaleoverheid.nl/" target="_blank" end-icon="external-link" text="Digitale Overheid"></nldd-link></li>
      </ul>
    </nldd-container>
  </nldd-container>
  <nldd-page-footer-legal-bar slot="legal-bar">
    <nldd-page-footer-legal-bar-item slot="start" href="https://digitaledienst.overheid.nl/" text="Nederlandse Digitale Dienst"></nldd-page-footer-legal-bar-item>
    <nldd-page-footer-legal-bar-item slot="end" href="{{ 'Over-NeRDS/privacy/' | url }}" text="Privacy"></nldd-page-footer-legal-bar-item>
    <nldd-page-footer-legal-bar-item slot="end" href="{{ 'Over-NeRDS/cookies/' | url }}" text="Cookies"></nldd-page-footer-legal-bar-item>
    <nldd-page-footer-legal-bar-item slot="end" href="{{ 'Over-NeRDS/toegankelijkheid/' | url }}" text="Toegankelijkheid"></nldd-page-footer-legal-bar-item>
  </nldd-page-footer-legal-bar>
</nldd-page-footer>
