<nldd-skip-link slot="header">
  <nldd-top-navigation-bar
    logo-title="Nederlandse Digitale Dienst"
    logo-subtitle="Ministerie van Economische Zaken en Klimaat"
    logo-href="{{ nav.homepage.url | url if nav.homepage else base_url }}"
    website-title="Nederlandse Richtlijn Digitale Systemen"
    website-href="{{ nav.homepage.url | url if nav.homepage else base_url }}"
  >
    <nldd-menu-bar slot="global">
      {%- for item in nav %}
      {%- if item.children %}
      <nldd-menu-bar-item text="{{ item.title | e }}" href="{{ (item.children | first).url | url }}"{% if item.active %} current{% endif %}></nldd-menu-bar-item>
      {%- else %}
      <nldd-menu-bar-item text="{{ item.title | e }}" href="{{ item.url | url }}"{% if item.active %} current{% endif %}></nldd-menu-bar-item>
      {%- endif %}
      {%- endfor %}
    </nldd-menu-bar>
    <nldd-menu-bar slot="utility">
      <nldd-menu-bar-item id="search-open" text="Zoeken" icon="search" content-priority="icon" haspopup="dialog"></nldd-menu-bar-item>
      <nldd-menu-bar-item id="feedback-open" text="Feedback" icon="message-rectangle-text" content-priority="icon" haspopup="dialog"></nldd-menu-bar-item>
      {%- if config.repo_url %}
      <nldd-menu-bar-item text="GitHub" icon="git-branch" content-priority="icon" href="{{ config.repo_url }}"></nldd-menu-bar-item>
      {%- endif %}
    </nldd-menu-bar>
  </nldd-top-navigation-bar>
</nldd-skip-link>
