name: Publish mkdocs via GitHub Pages

on:
  push:
    branches:
      - main
    tags:
      - '*'

jobs:
  deploy-main:
    name: deploy main
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: get tag
        id: get_commit_hash
        run: |
          echo "commit_hash=$(git describe --tags)" >> "$GITHUB_OUTPUT"

      - name: inject version
        run: |
          sed -i 's/development/${{ steps.get_commit_hash.outputs.commit_hash }}/g' docs/version.md

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Install uv
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          echo "$HOME/.uv/bin" >> $GITHUB_PATH

      - name: install dependencies
        run: |
          uv venv
          uv pip install -r requirements.txt

      - name: Deploy
        run: uv run mkdocs gh-deploy --force
